 <h2><%= @student.name %></h2>
<p><%= @student.title %></p>
<p><%= @student.location %></p>
<p><%= @student.skills %></p>
<p><%= @student.summary %></p>
<p><%= @student.github %></p>
<p><%= @student.linkedin %></p>
<p><%= @student.school %></p>