<h2><%= @student.title %></h2>
<p><%= @student.location %></p>
<p><%= @student.skills %></p>
<p><%= @student.summary %></p>
<p><%= @student.github %></p>
<p><%= @student.linkedin %></p>
<p><%= @student.school %></p>
<p><%= @student.jobtypes %></p>
<p><%= @student.photo %></p>
<%= link_to 'Edit', edit_student_path, class: "btn btn-info btn-lg" %>