<h2><%= @recruiter.name %></h2>
<p><%= @recruiter.email %></p>
<p><%= @recruiter.company %></p>
<p><%= @recruiter.location %></p>
<p><%= @recruiter.website %></p>
<p><%= @recruiter.linkedin %></p>
<p><%= @recruiter.bio %></p>
<%= link_to 'Edit', edit_recruiter_path, class: "btn btn-info" %>
<%= link_to 'Delete', recruiter_path, method: :delete, class: "btn btn-danger" %>