<!DOCTYPE html>
<html>
  <head>
    <title>ClassProject</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet"-->
    <!-- Material Design Bootstrap -->
    <!--<link href="css/mdb.min.css" rel="stylesheet">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Tech Talent South DevOps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "text-white" %>
          </li>
        </ul>
        <form class="form-inline">
          <!--<button class="btn btn-lg btn-danger" rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</button>-->
          <%= link_to "Recruiters", recruiters_path, class: "btn btn-lg btn-info" %>
          <%= link_to "Students", students_path, class: "btn btn-lg btn-info" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-danger", id:"logout" %>
        </form>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
