<!DOCTYPE html>
<html>
  <head>
    <title>ClassProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-primary" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-text">
          Tech Talent South DevOps
        </span>
      </div>
      <div class="container-fluid">
        <div class="class=" align-self-center="align-self-center" mr-3""="mr-3""">
          <div class="pull-right">
            <a class="btn btn-danger btn-lg" rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>
            <%= link_to "Recruiter", new_recruiter_path, class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </nav>
  <body>
          <%= yield %>
    </div>
  </body>
</html>
